

h1{
    padding: 0;
    margin: 8px;
    display: flex;
    justify-content: center;
    font-size: 50px;
    border: 1px solid black;
    background-color: rgba(0,0,0, .1);
}

.app{
    display: block;
    margin: auto;
    background: url("cat.jpg") no-repeat;
    width: 256px;
    height: 290px;
    border: 3px solid black;
}
.search{
    display: block;
    width: 180px;
    margin: 0 3px;
    background-color: rgba(92,13,172, .3);
}

.buttons button{
    margin: 1px;
    width: 125px;
    height: 25px;
    border-radius: 5px;
    background-color: #B3F36D;
    font-size: 16px;

}
.setForm{
    display: flex;
    margin-top: 172px;
}
.set{
    width: 65px;
    background-color: #9F69D6;
}
